.Movies {
  display: grid;
  grid-template-columns: 1fr minmax(30px, 1fr) minmax(1px, 1140px) minmax(30px, 1fr) 1fr;
}

@media screen and (max-width: 768px) {
  .Movies {
    grid-template-columns: 1fr minmax(30px, 1fr) minmax(1px, 1140px) minmax(30px, 1fr) 1fr;
  }
}

@media screen and (max-width: 514px) {
  .Movies {
    grid-template-columns: 1fr minmax(10px, 1fr) minmax(1px, 1112px) minmax(10px, 1fr) 1fr;
  }
}

.Movies__container {
  grid-column: 3 / 4;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.Movies__error {
  text-align: center;
  align-self: center;
  justify-self: center;
  font-size: 18px;
  font-weight: 500;
  max-width: 500px;
  line-height: 140%;
}

@media screen and (max-width: 514px) {
  .Movies__error {
    font-size: 14px;
    font-weight: 500;
    max-width: 280px;
    line-height: 120%;
  }
}
