.SearchForm {
  display: grid;
  grid-template-columns: 1fr minmax(30px, 1fr) minmax(1px, 1140px) minmax(30px, 1fr) 1fr;
}

@media screen and (max-width: 514px) {
  .SearchForm {
    grid-template-columns: 1fr minmax(14px, 1fr) minmax(1px, 1112px) minmax(14px, 1fr) 1fr;
  }
}

.SearchForm__container {
  display: grid;
  grid-column: 3 / 4;
  grid-template-rows: 70px max-content 80px;
  border-bottom: 1px solid #424242;
}

@media screen and (max-width: 768px) {
  .SearchForm__container {
    grid-template-rows: 70px max-content 109px;
  }
}

.SearchForm__form {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 30px 12px 20px 1fr 21px 58px 30px min-content 30px;
  grid-template-rows: 16px 40px 16px;
  background: #2f2f2f;
  border-radius: 9px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .SearchForm__form {
    grid-template-columns: 20px 12px 20px 1fr 21px 58px 20px min-content 20px;
  }
}

@media screen and (max-width: 514px) {
  .SearchForm__form {
    grid-template-columns: 0 0 20px 1fr 21px 58px 20px;
    position: relative;
  }
}

.SearchForm__image {
  grid-area: 2 / 2 / 3 / 3;
}

@media screen and (max-width: 514px) {
  .SearchForm__image {
    display: none;
  }
}

.SearchForm__input {
  grid-area: 2 / 4 / 3 / 5;
  padding: 7px 0;
  background: inherit;
  border-radius: 0;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  min-width: 60px;
}

.SearchForm__input:focus {
  outline: 0;
  border-bottom: 1px #4285f4 solid;
}

.SearchForm__input:-webkit-autofill,
.SearchForm__input:-webkit-autofill:hover,
.SearchForm__input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: unset;
  transition: background-color 5000s ease-in-out 0s;
}

.SearchForm__submit {
  grid-area: 2 / 6 / 3 / 7;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  border: none;
  padding: 8px 10px;
  background: #4285f4;
  border-radius: 48px;
  color: #fff;
}

.SearchForm__switch {
  grid-area: 2 / 8 / 3 / 9;
  display: grid;
  grid-template-columns: 36px 15px max-content;
  position: static;
  grid-template-rows: min-content;
  padding: 10px 0 10px 30px;
  border-left: #505050 solid 1px;
}

@media screen and (max-width: 514px) {
  .SearchForm__switch {
    grid-area: 4 / 1 / 5 / 10;
    padding: 0 0 0 0;
    border-left: none;
    position: absolute;
    justify-self: center;
    top: 45px;
  }
}

.SearchForm__switch-checkbox {
  z-index: 1;
  opacity: 0;
  width: 36px;
  height: 20px;
  cursor: pointer;
  grid-area: 1 / 1 / 2 / 2;
}

.SearchForm__switch-slider {
  position: relative;
  border-radius: 40px;
  grid-area: 1 / 1 / 2 / 2;
  background-color: #ccc;
  transition: 0.4s ease-out;
}

.SearchForm__switch-slider::before {
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
  transition: 0.4s ease-out;
}

.SearchForm__switch-checkbox:checked + .SearchForm__switch-slider {
  background-color: #3ddc84;
}

.SearchForm__switch-checkbox:checked + .SearchForm__switch-slider::before {
  transform: translateX(16px);
}

.SearchForm__switch-label {
  grid-area: 1 / 3 / 2 / 4;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
